{%
  set classes = [
    'paragraph',
    'clearfix',
    'hero',
    'dark-text',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
 <style>
			.portfolio-hero {
				background: #ffffff;
			}
		</style>
  <div{{ attributes.addClass(classes) }}>

 
    {% block content %}
    
      {{ content.field_p_image }}
   
  </div>
  <div class="container a-container">
		  {{ content.bp_text }}
	</div>	
    

    {% endblock %}

   
{% endblock paragraph %}