{%
  set classes = [
    'paragraph',
    'new-portfolio',
    'portfolio_content',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  <article class="portfolio-single">
  <style>
			.portfolio-hero {
				background: #262626;
			}
		</style>
    {% block content %}
    <div class="clearfix portfolio-hero light-text">
      {{ content.field_p_image }}
    <div class="portfolio-shortdesc"><p><span style="font-weight:400;">{{ content.field_p_image_text }}</span></p></div>
    </div>
    <div class="container portfolio-body">
		  {{ content.field_p_body }}
		</div>
      
    

    {% endblock %}

    </article>
    </div>
{% endblock paragraph %}